<! DOCTYPE html >

<head></head>

<body>
<h1>Мои клиенты</h1>

<ul>
  <% @bodies.each do |client| %>
    <li>
      <h2> <%= "\n" + client["name"]%></h2> <h4><%= client["email"]%></h4> <h4><%= client["phone"]%></h4><br><%= link_to "Удалить", delete_client_path(client["id"]) %>
    </li>
  <%end%>
</ul>
<%= link_to "Создать клиента", new_client_path %>

<h2><%= link_to "Заказы", orders_url%></h2>
</body>
</html>